@charset "UTF-8";
/* line 3, D:/temp/mybulma3/css/portfolio.scss */
html {
  font-size: 14px; }

/* line 7, D:/temp/mybulma3/css/portfolio.scss */
body {
  background: #ECF0F3; }

/* line 11, D:/temp/mybulma3/css/portfolio.scss */
.copy {
  line-height: 1;
  text-align: right; }

/* line 17, D:/temp/mybulma3/css/portfolio.scss */
.icon,
.is-title-vline {
  line-height: 1; }

/* line 24, D:/temp/mybulma3/css/portfolio.scss */
.modal {
  transform: scale(0.1);
  opacity: 0;
  transition: all .2s linear; }
  /* line 29, D:/temp/mybulma3/css/portfolio.scss */
  .modal.is-active {
    opacity: 1;
    transform: scale(1); }
  /* line 36, D:/temp/mybulma3/css/portfolio.scss */
  .modal .modal-card .modal-card-body img {
    display: block;
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    margin: 20px auto; }

/* line 47, D:/temp/mybulma3/css/portfolio.scss */
.loading-spinner {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9) url("/img/ajax-loader.gif") 50% 50% no-repeat; }

/* line 57, D:/temp/mybulma3/css/portfolio.scss */
.columns.main {
  margin-bottom: 0; }

/* line 62, D:/temp/mybulma3/css/portfolio.scss */
.card {
  height: 640px; }
  /* line 66, D:/temp/mybulma3/css/portfolio.scss */
  .card ul.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    /* line 71, D:/temp/mybulma3/css/portfolio.scss */
    .card ul.menu-list > li {
      margin-bottom: 13px; }
    /* line 75, D:/temp/mybulma3/css/portfolio.scss */
    .card ul.menu-list > li > a {
      border: 1px solid transparent;
      border-left: 2px solid #c2c2c2;
      font-size: 1.3rem; }
      /* line 80, D:/temp/mybulma3/css/portfolio.scss */
      .card ul.menu-list > li > a:hover {
        border-top: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        border-right: 1px solid #c2c2c2; }
      /* line 86, D:/temp/mybulma3/css/portfolio.scss */
      .card ul.menu-list > li > a span {
        font-size: 1rem; }
  /* line 92, D:/temp/mybulma3/css/portfolio.scss */
  .card ul.event-list {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    /* line 98, D:/temp/mybulma3/css/portfolio.scss */
    .card ul.event-list .event {
      position: relative;
      padding: 0 0 20px 25px; }
      /* line 99, D:/temp/mybulma3/css/portfolio.scss */
      .card ul.event-list .event > ul {
        margin-left: 20px; }
      /* line 106, D:/temp/mybulma3/css/portfolio.scss */
      .card ul.event-list .event:before {
        content: "";
        position: absolute;
        top: 5px;
        bottom: -10px;
        left: 4px;
        width: 2px;
        background: #c2c2c2; }
      /* line 116, D:/temp/mybulma3/css/portfolio.scss */
      .card ul.event-list .event:after {
        content: "";
        position: absolute;
        top: 5px;
        left: 0px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #265CDC; }
  /* line 130, D:/temp/mybulma3/css/portfolio.scss */
  .card .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    /* line 136, D:/temp/mybulma3/css/portfolio.scss */
    .card .card-footer:before {
      content: "바로연결하기 버튼";
      position: absolute;
      top: -36px;
      text-align: center;
      display: inline-block;
      left: 0;
      right: 0; }
    /* line 146, D:/temp/mybulma3/css/portfolio.scss */
    .card .card-footer a.kakaome {
      background: url(/img/me_appicon_kr.png) 0 0 no-repeat;
      text-indent: -9999px;
      background-position: center;
      background-size: 20px; }
    /* line 153, D:/temp/mybulma3/css/portfolio.scss */
    .card .card-footer a:hover {
      background-color: #f8ffd5; }

/* line 162, D:/temp/mybulma3/css/portfolio.scss */
.lsk {
  padding: 30px 0; }
  /* line 166, D:/temp/mybulma3/css/portfolio.scss */
  .lsk .progress {
    margin-bottom: 0.7rem; }
  /* line 170, D:/temp/mybulma3/css/portfolio.scss */
  .lsk .tag {
    margin-bottom: 10px; }
  /* line 177, D:/temp/mybulma3/css/portfolio.scss */
  .lsk#portfolio .portfolio {
    overflow: hidden;
    padding-left: 2px;
    padding-right: 2px; }
    /* line 182, D:/temp/mybulma3/css/portfolio.scss */
    .lsk#portfolio .portfolio .mix {
      float: left;
      overflow: hidden;
      width: 31%;
      margin: 0 8px;
      border: 0;
      border-radius: 3px;
      margin-bottom: 1.6rem;
      position: relative;
      backface-visibility: hidden;
      will-change: transform, opacity;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
      transition: translate .18s, box-shadow .18s;
      cursor: pointer; }
      /* line 198, D:/temp/mybulma3/css/portfolio.scss */
      .lsk#portfolio .portfolio .mix:hover {
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6); }
      /* line 202, D:/temp/mybulma3/css/portfolio.scss */
      .lsk#portfolio .portfolio .mix > a {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        text-indent: -9999px; }
      /* line 213, D:/temp/mybulma3/css/portfolio.scss */
      .lsk#portfolio .portfolio .mix .thumb-container {
        overflow: hidden;
        height: 140px;
        border-bottom: 1px solid #dddddd; }
        /* line 218, D:/temp/mybulma3/css/portfolio.scss */
        .lsk#portfolio .portfolio .mix .thumb-container img {
          display: block;
          max-width: 100%;
          height: auto; }
      /* line 225, D:/temp/mybulma3/css/portfolio.scss */
      .lsk#portfolio .portfolio .mix .portfolio-description {
        border-top: 1px solid #b9b9b9;
        padding: 1.2rem .8rem; }
        /* line 229, D:/temp/mybulma3/css/portfolio.scss */
        .lsk#portfolio .portfolio .mix .portfolio-description p {
          line-height: 1.4rem;
          margin: 0; }
          /* line 233, D:/temp/mybulma3/css/portfolio.scss */
          .lsk#portfolio .portfolio .mix .portfolio-description p.ti-subject {
            color: #343434;
            height: 40px;
            font-weight: bold;
            margin-bottom: 6px;
            text-overflow: ellipsis; }

/* line 249, D:/temp/mybulma3/css/portfolio.scss */
.column .is-danger {
  overflow: hidden; }

/*


body {
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;

}



@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



.hero.is-success {
	background-color: transparent;
}


*/
@media (max-width: 1024px) {
  /* line 318, D:/temp/mybulma3/css/portfolio.scss */
  .desktop {
    display: none; } }

@media (max-width: 768px) {
  /* line 324, D:/temp/mybulma3/css/portfolio.scss */
  .hide-mobile {
    display: none; }
  /* line 328, D:/temp/mybulma3/css/portfolio.scss */
  .copy {
    text-align: center; }
  /* line 332, D:/temp/mybulma3/css/portfolio.scss */
  .modal-card {
    width: 85%; }
  /* line 338, D:/temp/mybulma3/css/portfolio.scss */
  .lsk#portfolio .portfolio .mix {
    width: 47%;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 20px; }
  /* line 346, D:/temp/mybulma3/css/portfolio.scss */
  .card {
    height: auto; }
    /* line 349, D:/temp/mybulma3/css/portfolio.scss */
    .card .card-image {
      display: none; }
    /* line 353, D:/temp/mybulma3/css/portfolio.scss */
    .card .profile {
      text-align: center;
      border-top: 3px solid #00ff45; }
      /* line 357, D:/temp/mybulma3/css/portfolio.scss */
      .card .profile h4 {
        margin-bottom: 50px; }
    /* line 362, D:/temp/mybulma3/css/portfolio.scss */
    .card .content.scrollTo {
      display: none; }
    /* line 366, D:/temp/mybulma3/css/portfolio.scss */
    .card .card-footer {
      margin-top: 30px; } }

@media (max-width: 612px) {
  /* line 377, D:/temp/mybulma3/css/portfolio.scss */
  .lsk#portfolio {
    text-align: center; }
    /* line 380, D:/temp/mybulma3/css/portfolio.scss */
    .lsk#portfolio .portfolio .mix {
      width: 100%;
      display: inline-block;
      float: none;
      overflow: hidden;
      margin: 0;
      margin-bottom: 20px; }
  /* line 390, D:/temp/mybulma3/css/portfolio.scss */
  .lsk#portfolio .portfolio .mix .thumb-container img {
    width: 100%; } }

/*# sourceMappingURL=portfolio.css.map */